
# Godot-specific ignores
.import/
export.cfg
export_presets.cfg

# Mono-specific ignores
.mono/

#song folder
songs/
backingtracks/

#builds folder
builds/

#configs folder
configs/

#song importer folder
importer/